* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-family: 'Mulish', sans-serif;
}
:root {
    font-size: 62.5%;
    --color-blue-nav: #065E7C;

}
header {
    padding: 1.2rem 2.0rem;
}
header, nav {
    background: var(--color-blue-nav);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 2.5rem;
 }
 header > form {
    flex: 1;
 }
nav > img {
    width: 4.2rem;
    height: 4.2rem;
    border-radius: 50%;
}
input {
    min-width: 27rem;
    border: 0;
    background: #4f8ca0;
    color: white;
    padding: 0.8rem 1.7rem;
    border-radius: 4px;
}
#img_inicial {
    padding: 0;
}
main {
    margin: auto;
}
.conteudo {
    padding: 2.5rem;

    display: flex;
    flex-direction: column;
    gap: 3.0rem;
}
h1 {
    font-size: 2.4rem;
}
.conteudo > p {
    font-size: 1.6rem;
}
.indicacoes {
    display: flex;
    flex-direction: column;
    gap: 3.2rem;
    padding: 2.5rem;
    margin-bottom: 4.0rem;
}
.artigo {
    display: flex;
    gap: 1.6rem;
}
.escrita_artigo > h3 {
    font-size: 1.8rem;
    line-height: 160%;
    font-weight: 600;
    color: #202024;
}
.escrita_artigo > p {
    font-size: 1.4rem;
    line-height: 160%;
    color: #121214;
}
footer {
    font-size: 1.6rem;
    font-weight: 600;
    text-align: center;
    background: #387E96;
    color: white;
    padding: 2.7rem 2.0rem;
}
@media (min-width: 1144px) {
    main {
        display: flex;
        gap: 3.5rem;
        padding: 4.5rem 1.10rem;
        margin: auto;
        justify-content: center;
    }
    .conteudo {
        max-width: 70rem;
    }
    .indicacoes {
        padding-top: 0;
    }
    input {
        width: 800px;
    }
    .introducao {
        display: flex;
        align-items: center;
        gap: 10rem;
    }
    .like {
        display: flex;
        gap: 1.2rem;
        align-items: center;

    }
    #img_inicial {
        width: 700px;
        height: 350px;
        border-radius: 5px;
    }
    .container {
        padding: 1.6rem 3.2rem;
        width: min(188rem, 100%);
        margin: 0 auto;
     }

}

